@{
    ViewData["Title"] = "Apagar Contato";
}

<div class="text-center">


    <h1 class="display-4">Apagar Contato</h1>

</div>

<p>Tem certeza que deseja apagar o contato: (Giovani Neri) ?</p>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-block">Alterar</button>
        <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
    </div>
